body {
    user-select: none;
    font-size: 6vw;
}

input {
    font-size: 4vw;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0;
}

td {
    padding: 0.1em;
}

td:last-child>select {
    margin-left: 1.5em;
}

h3 {
    margin-bottom: 0.3em;
}

tr:first-child>td:first-child>h3 {
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}

tr:nth-child(2)>td:first-child>h3 {
    margin-top: 0em;
}

select {
    font-size: 4vw;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.3em;
    padding-top: 0em;
    padding-bottom: 0;
    padding-right: 0;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
}